body{
    background-color: hsl(0, 0%, 100%);
}

.menu{
    display: flex;
    border:5px solid rgb(0, 0, 0);
    flex-direction: row-reverse;
    background-color: rgb(0, 0, 0);
    
    
    
}
.button{
    color:white;
    font-size: 10px;
    background-color: hsl(0, 0%, 47%);
    height:50px;
    width:100px;
    
}
button:hover{
    background-color: white;
    color: black;
}
button:visited{
    background-color: purple;
}
button:active{
    background-color: orange;

}
h1{
    font-family:"Madimi One",Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(61, 61, 61);
}
.para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.para::before{
    content:"H";
    font-size: 50px;
    font-style: italic;
    color:hsl(0, 0%, 12%);
}
*{
    padding:0px;
    margin: 0px;
}
